<div class="page page-current">
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <a class="icon icon-left pull-left" href="javascript:;" @click="goBack(this)"></a>
        <h1 class="title">无限滚动</h1>
    </header>

    <!-- 这里是页面内容区 -->
    <div class="content infinite-scroll pull-to-refresh-content native-scroll"
         v-infinite-scroll="loadMore(3)" data-distance="55"
         v-pull-to-refresh="refresh()" data-ptr-distance="55">
        <!-- 默认的下拉刷新层 -->
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
            <div style="position:absolute;bottom:-3px;width:100%;text-align: center;font-size: 12px;">更新时间:{{updateTime}}</div>
        </div>
        <div class="list-block contacts-block">
            <div class="list-group">
                <ul>
                    <!--<li class="list-group-title">A</li>-->
                    <li v-for="item in list">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">{{item}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 加载提示符 -->
        <div class="infinite-scroll-preloader" v-if="isShowLoad">
            <div class="preloader"></div>
        </div>
    </div>
</div>