<div class="picker-items-col {{option.divider?'picker-items-col-divider':''}} picker-items-col-center">
    <template v-if="!option.divider">
        <div class="picker-items-col-wrapper">
            <div v-for="value in option.values"
                 @click="handleClick(value)"
                 class="picker-item {{value.value == val.value ?'picker-selected':''}}"
            >{{value.text}}</div>
        </div>
    </template>
    <template v-else>
        {{option.content}}
    </template>
</div>