<div class="picker-modal picker-calendar remove-on-close {{open?'modal-in':'modal-out'}}" style="display: block;">
    <div class="toolbar">
        <div class="toolbar-inner">
            <!--月份选择-->
            <template v-if="options.monthPicker">
                <div class="picker-calendar-month-picker">
                    <a href="#" class="link icon-only picker-calendar-prev-month" @click="prevMonth()"><i class="icon icon-prev"></i></a>
                    <div class="current-month-value">{{currentMonthNumber}}</div>
                    <a href="#" class="link icon-only picker-calendar-next-month" @click="nextMonth()"><i class="icon icon-next"></i></a>
                </div>
            </template>
            <!--年份选择-->
            <template v-if="options.yearPicker">
                <div class="picker-calendar-year-picker">
                    <a href="#" class="link icon-only picker-calendar-prev-year" @click="prevYear()"><i class="icon icon-prev"></i></a>
                    <span class="current-year-value">{{currentYearNumber}}</span>
                    <a href="#" class="link icon-only picker-calendar-next-year" @click="nextYear()"><i class="icon icon-next"></i></a>
                </div>
            </template>
        </div>
    </div>
    <div class="picker-modal-inner">
        <div class="picker-calendar-week-days">
            <div class="picker-calendar-week-day "> 周一</div>
            <div class="picker-calendar-week-day "> 周二</div>
            <div class="picker-calendar-week-day "> 周三</div>
            <div class="picker-calendar-week-day "> 周四</div>
            <div class="picker-calendar-week-day "> 周五</div>
            <div class="picker-calendar-week-day picker-calendar-week-day-weekend"> 周六</div>
            <div class="picker-calendar-week-day picker-calendar-week-day-weekend"> 周日</div>
        </div>
        <div class="picker-calendar-months">
            <div class="picker-calendar-months-wrapper" style="transform:{{translate}};{{transition}}">

                <template v-for="month in monthList">
                    <calendar-month :value="month.date" :translate="month.monthsTranslate"></calendar-month>
                </template>

            </div>
        </div>
    </div>
</div>