<div class="picker-modal picker-columns remove-on-close modal-in" style="display: {{open?'block':'none'}}">
    <slot name="header">
        <header class="bar bar-nav">
            <button class="button button-link pull-right">{{okText}}</button>
            <h1 class="title">{{headerText}}</h1>
        </header>
    </slot>
    <slot name="options">
        <div class="picker-modal-inner picker-items">
            <div v-for="(i, option) in options" class="picker-items-col picker-items-col-center ">
                <div class="picker-items-col-wrapper">
                    <div v-for="value in option.values"
                         class="picker-item {{value.value == val[i].value ?'picker-selected':''}}"
                    >{{value.text}}</div>
                </div>
            </div>
            <div class="picker-center-highlight"></div>
        </div>
    </slot>
</div>